<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>标签页</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div id="app">
    <header>
        <i onclick="history.go(-1)"></i>
        <span>标签页</span>
    </header>
    <div class="mt2p5"></div>
    <div class="label-view">
        <div class="label-name">{{title}}</div>
        <!--<input type="text" class="label-input" placeholder="请输入标签名称">-->
        <div class="label-addBox">
            <div class="label-add" @click="handleTag(title)">添加到我的标签</div>
        </div>
    </div>
    <div class="list-container">
        <div class="list-box" v-for="item in list">
            <div class="list-title" @click="goView(item.id)">{{item.title}}</div>
            <div class="list-tagBox" v-if="item.tag.length > 0">
                <div class="list-tagKey">标签：</div>
                <div class="list-tagVal">
                    <div class="list-tag" v-for="it in item.tag" @click="goTag(it)">{{it.title}}</div>
                </div>
            </div>
            <div class="list-con">
                <div class="list-time">{{item.publish_time}}</div>
                <div class="list-comment">{{item.comment_number}}</div>
                <div class="list-love" :class="{'active': item.is_starred}" @click="toggleLove(item)">
                    {{item.star_number}}
                </div>
            </div>
        </div>
    </div>
    <div class="mt4"></div>
    <footer>
        <div class="tab-item tab-work" @click="goIndex">
            <div class="tab-icon icon-work"></div>
            <div class="tab-it">科研助手</div>
        </div>
        <div class="tab-item tab-inTime" @click="goHot">
            <div class="tab-icon icon-inTime"></div>
            <div class="tab-it">热点信息</div>
        </div>
        <div class="tab-item tab-info" @click="goCollect">
            <div class="tab-icon icon-info"></div>
            <div class="tab-it">我的收藏</div>
        </div>
        <div class="tab-item tab-my active" @click="goCenter">
            <div class="tab-icon icon-my"></div>
            <div class="tab-it">个人中心</div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="../script/rem.js"></script>
<script type="text/javascript" src="../script/aui-dialog.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/axios.min.js"></script>
<script type="text/javascript" src="../script/script.js"></script>
<script>
    var toast = new auiToast()
    var dialog = new auiDialog()
    new Vue({
        el:'#app',
        data(){
            return {
                id: '',
                title: '',
                list: [],
                loveState: false
            }
        },
        mounted(){
            this.id = this.getUrlParam('id')
            this.title = this.getUrlParam('title')
            this.getInfo()
        },
        methods:{
            //添加标签
            handleTag(param){
                dialog.alert({
                    title: "提示",
                    msg: '"'+param+'"' + '添加到我的标签?',
                    buttons: ['取消', '确定']
                }, function(ret) {
                    if (ret.buttonIndex == 2) {
                        let data = {
                            tag_id: this.id
                        }
                        axios.post(apiHost + '/api/paper/tag_add', data).then(res => {
                            if (res.data.code === 200) {
                                toast.success({
                                    title: "添加成功",
                                    duration: 2000
                                })
                            }
                        }).catch(function (error) {
                            alert(error)
                        })
                    }
                })
            },
            getInfo(){
                let data = {
                    id: this.id
                }
                axios.get(apiHost + '/api/paper/tag', {
                    params: data
                }).then(res => {
                    if (res.data.code === 200) {
                        this.list = res.data.data.list
                    }
                }).catch(function (error) {
                    alert(error)
                })
            },
            toggleLove(){
                this.loveState = !this.loveState
            },
            //获取参数
            getUrlParam(name){
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)")
                var r = decodeURI(location.search).substr(1).match(reg)
                if (r != null) return unescape(r[2])
                return null
            },
            goTag(it) {
                location.href = './labelView.html?id=' + it.id + '&title=' + it.title
            },
            goIndex(){
                location.href = './index.html'
            },
            goHot(){
                location.href = './hot.html'
            },
            goCollect(){
                location.href = './collect.html'
            },
            goCenter(){
                location.href = './center.html'
            }
        }
    })
</script>
</body>
</html>
