<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>搜索结果</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div id="app">
    <header>
        <i onclick="history.go(-1)"></i>
        <span>搜索结果</span>
    </header>
    <div class="mt2p5"></div>
    <div class="search-container">
        <div class="sider-box search-box">
            <input type="text" placeholder="请输入关键词" @keyup.enter="handleSearch" class="sider-input" v-model="title">
            <div class="sider-icon" @click="handleSearch"></div>
        </div>
    </div>
    <div class="search-result">搜索"<span class="fs-red">{{title}}</span>"，约<span class="fs-red">{{total}}</span>条结果</div>
    <div class="list-container">
        <div class="list-box" v-for="item in list">
            <div class="list-title" @click="goView(item.id)">{{item.title}}</div>
            <div class="list-tagBox" v-if="item.tag.length > 0">
                <div class="list-tagKey">标签：</div>
                <div class="list-tagVal">
                    <div class="list-tag" v-for="it in item.tag" @click="goTag(it)">{{it.title}}</div>
                </div>
            </div>
            <div class="list-con">
                <div class="list-time">{{item.publish_time}}</div>
                <div class="list-comment">{{item.comment_number}}</div>
                <div class="list-love" :class="{'active': item.is_starred}" @click="toggleLove(item)">
                    {{item.star_number}}
                </div>
            </div>
        </div>
    </div>
    <div class="list-more" @click="handleMore">点击加载更多</div>
    <div class="mt4"></div>
    <footer>
        <div class="tab-item tab-work" @click="goIndex">
            <div class="tab-icon icon-work"></div>
            <div class="tab-it">科研助手</div>
        </div>
        <div class="tab-item tab-inTime" @click="goHot">
            <div class="tab-icon icon-inTime"></div>
            <div class="tab-it">热点信息</div>
        </div>
        <div class="tab-item tab-info" @click="goCollect">
            <div class="tab-icon icon-info"></div>
            <div class="tab-it">我的收藏</div>
        </div>
        <div class="tab-item tab-my" @click="goCenter">
            <div class="tab-icon icon-my"></div>
            <div class="tab-it">个人中心</div>
        </div>
    </footer>
</div>
<script type="text/javascript" src="../script/rem.js"></script>
<script type="text/javascript" src="../script/aui-dialog.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/axios.min.js"></script>
<script type="text/javascript" src="../script/script.js"></script>
<script>
    var toast = new auiToast()
    var dialog = new auiDialog()
    new Vue({
        el:'#app',
        data(){
            return {
                loveState: false,
                list: [],
                title: '',
                total: 0,
                page: 1
            }
        },
        mounted(){
            this.title = this.getUrlParam('title')
            this.handleSearch()
        },
        methods:{
            handleTag(){
                dialog.alert({
                    title: "提示",
                    msg: '添加到我的标签?',
                    buttons: ['取消', '确定']
                }, function(ret) {
                    if (ret.buttonIndex == 2) {
                        toast.success({
                            title: "添加成功",
                            duration: 2000
                        })
                    }
                })
            },
            toggleLove(){
              this.loveState = !this.loveState
            },
            handleSearch(){
                let data = {
                    search: this.title,
                    current_page_num: this.page
                }
                axios.get(apiHost + '/api/paper/paper_search',{
                    params: data
                }).then(res => {
                    if (res.data.code === 200) {
                        console.log(res.data.data.list)
                        this.list = res.data.data.list
                        this.total = res.data.data.total_num
                    }
                }).catch(function (error) {
                    alert(error)
                })
            },
            handleMore() {
                this.page = this.page + 1
                let data = {
                    search: this.title,
                    current_page_num: this.page
                }
                axios.get(apiHost + '/api/paper/index', {
                    params: data
                }).then(res => {
                    if (res.data.code === 200) {
                        this.list = this.list.concat(res.data.data.list)
                    }
                }).catch(function (error) {
                    alert(error)
                })
            },
            goIndex(){
                location.href = './index.html'
            },
            goHot(){
                location.href = './hot.html'
            },
            goCollect(){
                location.href = './collect.html'
            },
            goCenter(){
                location.href = './center.html'
            },
            goView(id){
                location.href = './view.html?id='+ id
            },
            //获取参数
            getUrlParam(name){
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)")
                var r = decodeURI(location.search).substr(1).match(reg)
                if (r != null) return unescape(r[2])
                return null
            }
        }
    })
</script>
</body>
</html>
