<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>详情页</title>
    <link rel="stylesheet" type="text/css" href="../css/api.css" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>
<body>
<div id="app">
    <header>
        <i onclick="history.go(-1)"></i>
        <span>详情页</span>
        <select class="view-select" v-model="typeId" @change="handleSelect">
            <option :value="item.id" v-for="item in types">{{item.name}}</option>
        </select>
        <div class="view-select-icon"></div>
    </header>
    <div class="mt2p5"></div>
    <div class="view-box">
        <div class="view-title">{{viewObj.title}}</div>
        <div class="view-detail">{{viewObj.abstract}}</div>
        <div class="list-tagBox">
            <div class="list-tagKey">标签：</div>
            <div class="list-tagVal">
                <div class="list-tag">真菌</div>
                <div class="list-tag">ma</div>
                <div class="list-tag">医学</div>
                <div class="list-tag">单细胞</div>
                <div class="list-tag">流感</div>
            </div>
        </div>
    </div>
    <div class="view-box">
        <div class="view-tip">作者: {{viewObj.author}}</div>
        <div class="view-tip">影响因子: {{viewObj.impact_factor}}</div>
        <div class="view-tip">发表时间: {{viewObj.publish_time}}</div>
        <div class="view-tip">发表杂志: {{viewObj.author}}</div>
    </div>
    <div class="view-box">
        <div class="view-tip">英文文献:</div>
        <div class="view-tip">bacdefg</div>
    </div>
    <div class="view-box">
        <div class="view-tip">文献全文下载:</div>
        <div class="view-tip">bacdefg</div>
    </div>
    <div class="view-box">
        <div class="view-tip">来源链接:</div>
        <div class="view-tip"><a :href="viewObj.url" class="fs-blue">{{viewObj.url}}</a></div>
    </div>
    <div class="view-box">
        <div class="view-tip">相关文献:</div>
        <div class="view-tip">123123</div>
        <div class="view-tip">123123</div>
        <div class="view-tip">123123</div>
        <div class="view-tip">123123</div>
    </div>
    <div class="comment-topBox">
        <div class="comment-top">共有<span class="comment-total">188</span>条评论</div>
    </div>
    <div class="comment-tip">
        <div class="comment-tipVal">热门评论</div>
    </div>
    <div class="comment-box">
        <div class="view-box">
            <div class="comment-line">
                <div class="comment-name">kevin</div>
                <div class="comment-time">2018-05-06</div>
            </div>
            <div class="view-detail">
                内容标题内容标题内容标题内容标题内容标题内容标题
                内容标题内容标题内容标题内容标题内容标题内容标题
                内容标题内容标题内容标题内容标题内容标题内容标题
            </div>
            <div class="comment-con">
                <div class="comment-zan">100</div>
                <div class="comment-do" @click="goComment('kevin',1)">评论</div>
            </div>
        </div>
        <div class="view-box">
            <div class="comment-line">
                <div class="comment-name">kobe</div>
                <div class="comment-time">2018-05-06</div>
            </div>
            <div class="view-detail">
                内容标题内容标题内容标题内容标题内容标题内容标题
                内容标题内容标题内容标题内容标题内容标题内容标题
                内容标题内容标题内容标题内容标题内容标题内容标题
            </div>
            <div class="comment-con">
                <div class="comment-zan">100</div>
                <div class="comment-do" @click="goComment('kobe',2)">评论</div>
            </div>
        </div>
    </div>
    <div class="list-more">点击加载更多</div>
    <textarea :placeholder="placeholder" class="comment-text"></textarea>
    <div class="comment-btn">发表评论</div>
    <div class="mt4"></div>
    <footer>
        <!--<div class="view-barBtn icon-love"><span class="fs-blue">123</span>个喜欢</div>-->
        <div class="view-barBtn icon-star"><span class="fs-blue">{{viewObj.star}}</span>人收藏</div>
    </footer>
</div>
<script type="text/javascript" src="../script/rem.js"></script>
<script type="text/javascript" src="../script/aui-dialog.js"></script>
<script type="text/javascript" src="../script/aui-toast.js"></script>
<script type="text/javascript" src="../script/vue.min.js"></script>
<script type="text/javascript" src="../script/axios.min.js"></script>
<script type="text/javascript" src="../script/jquery.min.js"></script>
<script type="text/javascript" src="../script/script.js"></script>
<script>
    var toast = new auiToast()
    var dialog = new auiDialog()
    new Vue({
        el:'#app',
        data(){
            return {
                id: '',
                commentId: '',
                placeholder: '请输入您对该文献的评论',
                types: [
                    {
                        id: 1,
                        name: '全部'
                    },
                    {
                        id: 2,
                        name: '英文文献'
                    },
                    {
                        id: 3,
                        name: '文献解读'
                    },
                    {
                        id: 4,
                        name: '工具软件'
                    },
                    {
                        id: 5,
                        name: '培训教程'
                    }
                ],
                typeId: 1,
                viewObj: {}
            }
        },
        mounted(){
            this.id = this.getUrlParam('id')
            this.getInfo()
        },
        methods:{
            handleSelect(){
                location.href = './index.html?id='+ this.typeId
            },
            getInfo(){
                let data = {
                    paper_id: this.id
                }
                axios.get(apiHost + '/api/paper/paper_detail',{
                    params: data
                }).then(res => {
                    if (res.data.code === 200) {
                        this.viewObj = res.data.data
                    }
                }).catch(function (error) {
                    alert(error)
                })
            },
            goComment(name,id){
                $(window).scrollTop( $(".comment-text").offset().top - '100')
                this.placeholder = '回复' + name + ":"
                this.commentId = id
            },
            //获取参数
            getUrlParam(name){
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)")
                var r = decodeURI(location.search).substr(1).match(reg)
                if (r != null) return unescape(r[2])
                return null
            }
        }
    })
</script>
<script>
    window._bd_share_config = {
        common : {
            bdText : '自定义分享内容',
            bdDesc : '自定义分享摘要',
            bdUrl : '自定义分享url地址',
            bdPic : '自定义分享图片'
        },
        share : [{
            "bdSize" : 16
        }],
        slide : [{
            bdImg : 0,
            bdPos : "right",
            bdTop : 100
        }],
        image : [{
            viewType : 'list',
            viewPos : 'top',
            viewColor : 'black',
            viewSize : '16',
            viewList : ['qzone','tsina','huaban','tqq','renren']
        }],
        selectShare : [{
            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>